@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
:root {
  --basic-color: #EB0C67;
}
.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Amiri', serif;
  overflow: auto;
  height: 100vh;
}

.pokedex-header {
  h1 {
    text-align: center;
    text-emphasis: bold;
    font-size: 80px;
    color: #EB0C67;
  }
}

#dex-list {
  height: 80vh;
  overflow-y: scroll;
}

.dex-row {
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Individual Cards */

.pokemon-card {
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
  box-shadow: 0 1px 5px #2b5353;
  color: #2b5353;
  border-radius: 10px;
  position: relative;
  height: 15em;
  cursor: pointer;

  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);

  .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
  }

  :hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
  }

  .card-header {
    text-align: right;
  }

  img {
    width: 65%;
  }
}

.pokemon-card::before {    
  content: "";
  background-image: url("images/pokeball.png");
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.pokemon-card.selected {
  border: 1px solid #0071c5;
  align-self: center;
  border-radius: 3px;
  transition: all .20s ease-in-out;
}

/* Card on Display */

.dex-display {
  transition: all .40s ease-in-out;
}


/* Loader */

.loader {
  align-items: center;
}


.list-head {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
.footer {
  font-size: 15px;
  font-weight: 600;
}

.type-button {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 5px;
  width: 50px;
  height: 30px;
}

.buttons-container {
  display: inline-flex;

}
