@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
:root {
  --basic-color: #EB0C67;
}
.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Amiri', serif;
  overflow: auto;
}

.pokedex-header h1{
  text-align: center;
  text-emphasis: bold;
  font-size: 80px;
  color: #EB0C67;
}

/* Individual Cards */

.card-container {
}






.list-head {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
.footer {
  font-size: 15px;
  font-weight: 600;
}

.type-button {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 5px;
  width: 50px;
  height: 30px;
}

.buttons-container {
  display: inline-flex;

}